.imgdoc {
    max-width: 55%;
      border: 0;
      margin-left: 22%;
      margin-top: -10px;
  }
  .storename{
    padding: 3px;
    color: #000000;
    font-size: 13px;
     font-family: raleway;
     font-weight: bold
  }
  
  .consultbutton {
    background-color: #7ad8c1;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 9px;
  }
  
  .consultbutton1 {
    background-color: #85d632;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .premiumtag{
    max-width: 30%;
  }