<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon class="tab2" name="home"></ion-icon>
      <ion-label class="tab" color="toolbar">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon class="tab2" name="search"></ion-icon>
      <ion-label class="tab" color="toolbar">Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon class="tab2" name="cart"></ion-icon>
      <ion-label class="tab" color="toolbar">Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon class="tab2" name="person"></ion-icon>
      <ion-label class="tab" color="toolbar">Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>