<ion-header>
  <ion-toolbar color="toolbar">
    <div style="display: flex" fill="clear">
      <ion-icon routerLink="/tabs/tab1" style="margin-left: 7px;font-size: 23px;" name="arrow-round-back" color="white">
      </ion-icon>
      <ion-title color="white" style="text-transform: none">Jay kushwaha</ion-title>
      <span (click)="goToChangePassword()" style="color: white;margin-right: 5px;margin-top: 3px;">change
        password</span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="profilebg">
    <form [formGroup]="userDataForm">
      <div style="margin-bottom: 15px">
        <img class="imgdoc" *ngIf="images.path==null" src="../../assets/img/patient.png " alt="">
        <img class="imgdoc" *ngIf="images.path==!null" [src]="images.path" alt="">
        <div style="text-align: center;margin-top: -22px;">
          <ion-badge color="grey" (click)="selectImage()">
            <ion-icon color="black" name="cloud-upload"></ion-icon>
          </ion-badge>
        </div>

        <div style="text-align: center" class="docname">
          <ion-input formControlName="name" clearInput value="{{userName}}"></ion-input>
           <ion-input formControlName="url" clearInput value="{{userID}}" style="display: none"></ion-input>
           <ion-input formControlName="id" clearInput value="{{userUrl}}" style="display: none"></ion-input>
           <ion-input formControlName="username" clearInput value="{{userName1}}" style="display: none"></ion-input>
           <ion-input formControlName="email" clearInput value="{{userEmail}}" style="display: none"></ion-input>
           <ion-input formControlName="password" clearInput value="{{userPassword}}" style="display: none"></ion-input>
        </div>
        <div class="phar-details">
          <ion-row align-items-start>
            <ion-col size="1">
              <ion-icon name="calendar"></ion-icon>
            </ion-col>
            <ion-col style="font-weight: bold" size="3">
              DOB
            </ion-col>
            <ion-col size="8">
              <ion-input formControlName="date_of_birth" clearInput value="{{userDOB}}" placeholder="YYYY-MM-DD"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row align-items-start>
            <ion-col size="1">
              <ion-icon name="male"></ion-icon>
            </ion-col>
            <ion-col style="font-weight: bold" size="3">
              Gender
            </ion-col>
            <ion-col size="8">
              <ion-input formControlName="gender" clearInput value="{{userGender}}" placeholder="'male' or 'female'">
              </ion-input>
            </ion-col>
          </ion-row>
          <hr style="background-color: rgb(228, 228, 228)">
          <ion-row align-items-start>
            <ion-col size="1">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col style="font-weight: bold" size="3">
              Email
            </ion-col>
            <ion-col size="8">
              <ion-input value="{{userEmail}}" readonly></ion-input>
            </ion-col>
          </ion-row>

          <ion-row align-items-start>
            <ion-col size="1">
              <ion-icon name="call"></ion-icon>
            </ion-col>
            <ion-col style="font-weight: bold" size="3">
              Mobile No.
            </ion-col>
            <ion-col size="8">
              <ion-input formControlName="username" clearInput value="{{userName1}}" readonly></ion-input>
            </ion-col>
          </ion-row>
          <hr style="background-color: rgb(228, 228, 228)">
          <ion-row align-items-start>
            <ion-col size="1">
              <ion-icon name="home"></ion-icon>
            </ion-col>
            <ion-col style="font-weight: bold" size="3">
              Address
            </ion-col>
            <ion-col size="8">
              <ion-textarea formControlName="address" clearOnEdit="true" value="{{userAddress}}"
                placeholder="Please enter your address">
              </ion-textarea>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </form>

    <div style="text-align: center">
      <button (click)="updateProfile()" class="buttonOrder">Update profile</button>
    </div>
  </ion-card>
</ion-content>